.headerSection
{
	padding-left: 150px; 
	width: 610px;
	margin-bottom: 40px;
}
	
.headerSection h1
{
	color: #666666;
	margin-left: 10px;
	width: 500px;
}
	
.headerSection h1 sup
{
	color:#cccccc;
	font-size: normal !important;
}

.headerSection .languageSelector
{
	float: right;
}

.headerSection ul
{
	color: #999999;
}

.headerSection ul li
{
	margin-bottom: 3px;
}

.headerSection ul li .fb-like
{
    max-height: 19px !important;
}

.headerSection ul li div
{
	display: inline;
}

.mainTable
{
    width: 770px;
}

.exportMode
{
    height: 26px;
}

.exportMode .menuItem
{
    padding-right: 10px;
}

.exportMode .menuItem img
{
    padding: 0;
    margin-right: 3px;
    margin-left: 5px;
    vertical-align: text-top;
}

.labelSection
{
	width: 150px;
	color: Gray;
}

.credentialTextBox
{
	width: 150px;
}

.mainButton
{
}

.selectAlbum
{
	width: 610px;
}

.templateEditorShow
{
	display: block;
	padding: 5px 0 5px 0;
}

.templateEditorHide
{
	display: none;
}

.placeholders
{
	float: left;
	width: 70%;
}

.placeholders .placeholderButton
{
	margin: 2px;
	width: 100px;
	font-size: xx-small;
	background: #e0e0e0;
	border: 1px solid black;
}

.undoChanges
{
	float: right;
	margin: 2px;
}
	
.imageSizeSection
{
	clear: both;
	padding-top: 7px;
}

.paeTextArea
{
	width: 605px;
	max-width: 605px;
	height: 100px;
	margin-bottom: 7px;
}

.paeNumericTextBox
{
	width: 50px;
	text-align: right;
}

.errorMessage
{
    color: Red;
}

a.preview img
{
    border-style: none;    
    vertical-align: text-bottom;
}