<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<xdt:Import assembly="AppHarbor.TransformTester" namespace="AppHarbor.TransformTester.Transforms"/>

	<system.web>
		<compilation debug="false" targetFramework="4.0" xdt:Transform="Replace" />
		<httpRuntime requestValidationMode="2.0" xdt:Transform="Insert" />
	</system.web>

	
	<system.codedom>
		<compilers>
			<compiler>
				<providerOption name="CompilerVersion" value="v4.0" xdt:Transform="Replace" />
			</compiler>
		</compilers>
	</system.codedom>
</configuration>